@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
body {
  margin: 0;
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: #334;
}
#center {
  margin: auto;
  display: flex;
  flex-direction: column;
}
#meow {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #0005;
  text-align: center;
}
span {
  margin: auto;
  color: white;
  font-family: "Quicksand";
  font-size: 28px;
}
#button-confirm {
  cursor: pointer;
}
#button-confirm:hover {
  text-decoration: underline;
  color: #ffffaa;
}
