@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
  margin: 0;
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: #334;
}
#center {
  margin: auto;
  display: flex;
  flex-direction: column;
}
#meow {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 300px;
  background-color: #0005;
  border-radius: 16px;
  margin-bottom: 30px;
  font-size: 24px;
  text-align: center;
}
span {
  margin: auto;
  color: white;
  font-family: 'Quicksand';
}
img {
  width: 100px;
  height: 100px;
  border: #ff9 solid 3px;
  border-radius: 16px;
}